/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
/* Header */
.header div{
    background-color: #ffa500;
}

.header{
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}
    
    


#text-right{
    text-align: right;
}

#text-left{
    text-align: left;
}

.menu-box{
    text-align: center;
    width: 200px;
    padding: 5px;
    border: 1px dashed #000000;
    
    

}


.logo{
   width: 30%;
}
/* /Header */

/* Main */
.first-block{
    width: 100%;
    height:400px;  
    display: flex;  
    justify-content: center;
    align-items: center;

    /* debug */
    background-color: #0000ff;
}

.first-content{
    width: 60%;
    height: 300px;
    border: 3px dashed #000000;

    background-color: pink;
}

.second-block{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d3d3d3;
}

.second-content{
    width: 60%;
    height: 300px;
    display: flex;
    border: 3px dashed #808080;

    
}
.first-box{
    width: 60%;
    border-right: 2px dashed #000000;
    
    
    
    background-color: #f08080;
}

.second-box{
    width: 40%;
    border-left: 2px dashed #000000;
    

    background-color: #87cefa;
}
/* /Main */



