/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header div{
    background-color: yellow;
}




.header{
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;

    /* debug */
    background-color: aqua;
}

.menu-box{
    text-align: center;
    width: 200px;
    padding: 10px;
    border: 1px dashed black;
    
    

}

 .logo{
    width: 30%;
}




